// variables
$--primary-color: #007fff;
$--basic-bg-color: #f4f5f5;
$--white-bg-color: #fff;
$--font-color: #8492a6;
$--max-width: 960px;
$--basic-width: 10px;
$--basic-font-size: 16px;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body{
  background-color: $--basic-bg-color;
  outline: none;
}

// flex布局垂直居中, 水平居中/两端对齐/每个项目两侧的间隔相等
@mixin flexCenter($type) {
  box-sizing: border-box;
  display: flex;
  justify-content: $type;
  align-items: center;
}
// 绝对定位垂直居中
@mixin absVerCenter{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
// 绝对定位水平居中
@mixin absHorCenter{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
// 绝对定位且宽度满行
@mixin absoluteBox ($pos) {
  position: absolute;
  width: 100%;
  #{$pos}: 0;
}
// 全屏
@mixin fullPage {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// 动画
@mixin transition($type, $time, $speed: ease-in-out) {
  transition: $type $time $speed;
}

// 媒体查询
@mixin maxWidth980 {
  @media (max-width: 980px) {
    @content;
  }
}

// 统一的最大宽度样式
@mixin maxWidth ($width) {
  max-width: $width;
  margin: auto;
  @include maxWidth980{
    width: 96%;
  }
}

// 基本边框样式
@mixin border($border) {
  #{$border}: 1px solid $--basic-bg-color;
}

